<!DOCTYPE html>
<html lang="fr">
<head>
    <% include squelette/header.ejs %>c/css/style.css">
    <title>Accueil du back-office</title>
</head>
<body>
<div class="container-fluid">

    <a href="/">Déconnexion</a>

    <div class="row">

    </div>
</div>
</body>
</html>