<!--<!DOCTYPE html>
<html lang="fr">
<head>
    <% include squelette/header.ejs %>
</head>
<body>
<div class="container">

    <a href="/deconnexion">Déconnexion</a>

    <ul>
        <li><a href="/etablissements/">Etablissements</a></li>
        <li><a href="/metier/">Métiers</a></li>
        <li><a href="/centres_interet/">Centres d'intérêt</a></li>
        <li><a href="/secteurs_activite/">Secteur d'activité</a></li>
        <li><a href="/administrateurs/">Espace administrateur</a></li>
    </ul>

</div>
</body>
</html>-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <% include squelette/header.ejs %>
</head>
<body>
<div class="container">
    <a href="/deconnexion">Déconnexion</a>


    <div class="col-sm-12">

        <div class="bs-calltoaction bs-calltoaction-default">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Etablissements</h1>
                    <div class="cta-desc">
                        <p>Consulter la liste des établissements.</p>
                        <p>Ajouter un établissement.</p>
                        <p>Modifier un établisement.</p>
                        <p>Supprimer un établissement.</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="/etablissements/" class="btn btn-lg btn-block btn-default">Accéder à cet espace</a>
                </div>
            </div>
        </div>

        <div class="bs-calltoaction bs-calltoaction-primary">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Métiers</h1>
                    <div class="cta-desc">
                        <p>Consulter la liste des métiers.</p>
                        <p>Ajouter un métier.</p>
                        <p>Modifier un métier.</p>
                        <p>Supprimer un métier.</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="/metier/" class="btn btn-lg btn-block btn-primary">Accéder à cet espace</a>
                </div>
            </div>
        </div>

        <div class="bs-calltoaction bs-calltoaction-info">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Centres d'intérêt</h1>
                    <div class="cta-desc">
                        <p>Consulter la liste des centres d'intérêt.</p>
                        <p>Ajouter un centre d'intérêt.</p>
                        <p>Modifier un centre d'intérêt.</p>
                        <p>Supprimer un centre d'intérêt.</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="/centres_interet/" class="btn btn-lg btn-block btn-info">Accéder à cet espace</a>
                </div>
            </div>
        </div>

        <div class="bs-calltoaction bs-calltoaction-success">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Secteurs d'activité</h1>
                    <div class="cta-desc">
                        <p>Consulter la liste des secteurs d'activité.</p>
                        <p>Ajouter un secteur d'activité.</p>
                        <p>Modifier un secteur d'activité.</p>
                        <p>Supprimer un secteur d'activité.</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="/secteurs_activite/" class="btn btn-lg btn-block btn-success">Accéder à cet espace</a>
                </div>
            </div>
        </div>

        <div class="bs-calltoaction bs-calltoaction-warning">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Espace administrateur</h1>
                    <div class="cta-desc">
                        <p>Consulter la liste des administrateurs.</p>
                        <p>Ajouter un administrateur.</p>
                        <p>Modifier un administrateur.</p>
                        <p>Supprimer un administrateur.</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="/administrateurs/" class="btn btn-lg btn-block btn-warning">Accéder à cet espace</a>
                </div>
            </div>
        </div>

        <div class="bs-calltoaction bs-calltoaction-success">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Gestion des parrains</h1>
                    <div class="cta-desc">
                        <p>Consulter la liste des différents parrains</p>
                        <p>Ajouter un parrain à la liste.</p>
                        <p>Modifier les informations du parrain.</p>
                        <p>Supprimer la fiche d'un parrain.</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-success">Accéder à cet espace</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>